[user]
	name = Adam Warner
	email = me@adamwarner.co.uk
	signingKey = ~/.ssh/id_ed25519
[commit]
	gpgsign = true
[alias]
	adog = log --all --decorate --oneline --graph
[core]
	autocrlf = false
[gpg]
	format = ssh
[init]
	templatedir = ~/.git-templates
[safe]
	directory = C:/Users/adam/.dotfiles
	directory = C:/Users/awarner/.dotfiles
	directory = *
