[user]
	name = Adam Warner
	email = me@adamwarner.co.uk
	signingkey = "key::sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIAvscSQgWnjKPhF5FQOoZXXAN6Es/XQA36b+aEJHHJJEAAAABHNzaDo="
[commit]
	gpgsign = true
[alias]
	adog = log --all --decorate --oneline --graph
[core]
	autocrlf = false
[gpg]
	format = ssh
[safe]
	directory = C:/Users/adam/.dotfiles
	directory = C:/Users/awarner/.dotfiles
