[user]
        name = Adam Warner
        email = me@adamwarner.co.uk
        signingkey = 2EDFE579
[commit]
        gpgsign = true
[core]
        autocrlf = true
[alias]
	adog = log --all --decorate --oneline --graph
