[user]
        name = Adam Warner
        email = adamw@rner.email
        signingkey = 2EDFE579
[commit]
        gpgsign = true
[core]
        autocrlf = true
[gpg]
	program = C:\\Program Files (x86)\\Gpg4win\\..\\GnuPG\\bin\\gpg.exe
